.Footer {
    padding: 2rem;
    text-align: center;
    background-color: var(--bg-secondary);
    border-top: 1px solid #e2e8f0;
}

.Footer-text {
    color: var(--text-secondary);
    font-size: 0.9rem;
}